<h4>
  Trend of market statistics <span class='zip-title' style="font-weight: 600;"><%=@zip || 'county'%></span>
</h4>

<% (0..2).each do |i|%>
  <div class="<%=i%> chart-container panel panel-card">
    <div class="panel-heading">
      <fieldset class='chart-control'>
        <select name='<%="select_chart#{i}"%>' id='<%="select_chart#{i}"%>'>
        </select>
      </fieldset>
    </div>
    <div class='chart-container panel-body'>
      <div id='chart_<%=i%>' class='chart'> </div>
    </div>
  </div>
<% end %>

<% content_for :custom_css do %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.css" type="text/css">
  <%= stylesheet_link_tag('/assets/leaflet-sidebar-v2/leaflet-sidebar.min.css') %>
  <%= stylesheet_link_tag('statistics.css') %>
<% end %>


<% content_for :custom_init_map do %>
  layer_zips = new google.maps.Data();
	layer_zips.loadGeoJson('/json/zips.geojson');
  layer_zips.setMap(g_map);
<%end%>

<% content_for :custom_script do %>
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.js"></script>
  <%= javascript_include_tag('/assets/leaflet-sidebar-v2/leaflet-sidebar.min.js') %>
  <%= javascript_include_tag('viz_utils') %>
  <%= javascript_include_tag('statistics') %>
<script>

var g_need_choropleth = true;

var info_control = L.control();
info_control.onAdd = function (map) {
  this._div = L.DomUtil.create('div', 'info');
  this.update();
  return this._div;
};

info_control.update = function (zip) {
  var div = '<h5><b>zip facts</b></h5>';
  if(!zip) {
    div = '<h5><b>zip facts</b></h5>';
    div += 'Hover over a zip<br>';
    div += 'Click a zip to see its statistics<br>';
  }else{
    var year = slider_year.slider('value');
    div = '<h5><b>zip facts ' + year.toString() + '</b></h5>';
    var zipcode = zip.ZIP;
    var community = zip.COMMUNITY;
    var report_count = 0;
    div += 'zip: ' + zipcode + "<br/>";
    div += 'community: ' + community + "<br/>";
    if(g_zip_stats != undefined) { 
      var zip_stats = g_zip_stats.filter(function(d) { return d.year == year && d.zip == zipcode.toString(); })[0];
      for(var k in zip_stats) {
        if(['year', 'zip', 'month', 'tile'].includes(k)) { continue; }
        div += k+ ": " +zip_stats[k] + "<br>";
      }
    }
    if(g_school_stats != undefined) {
      div += '<h6><b>school facts</b></h6>';
      var school_stats = g_school_stats.filter(function(d) { return d.year == year && d.zip.toString() == zipcode.toString(); })[0];
      for(var k in school_stats) {
        if(['year', 'zip'].includes(k)) { continue; }
        div += k+ ": " +school_stats[k] + "<br>";
      }
    }
  }
  this._div.innerHTML = div;
};
info_control.addTo(g_map);

/*
var legend_colormap = L.control({position: 'bottomleft'});
legend_colormap.onAdd = function (map) {
  var div = L.DomUtil.create('div', 'info legend');
  return div;
};

legend_colormap.addTo(g_map);
*/

var div_legend = L.DomUtil.create('div', 'info legend leaflet-control');
$('#map-legend').html(div_legend);

var sidebar = L.control.sidebar('sidebar').addTo(g_map);

function update_choropleth(year=2017) {
  if(layer_zips.getLayers().length == 0) { // zip boundary not loaded yet
    return;
  }
  set_zip_background_at(year, choropleth_attrs.background);
  set_zip_circle_at(year, choropleth_attrs.circle_size, choropleth_attrs.circle_color);

  g_selected_zips.forEach(function(zip) {
    zip.setStyle({
        weight: 3,
        color: '#3388ff',
    });
    zip.bringToFront();
  });

  update_choropleth_legend();
}

function onZip(e) {
  layer = e.target
  info_control.update(layer.feature.properties);

  var layer = e.target;
  layer.setStyle({
      weight: 3,
      color: '#3388ff',
  });

  if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
    layer.bringToFront();
    //choropleth_circles[layer.feature.id].bringToFront();
    for(var id in choropleth_circles) { choropleth_circles[id].bringToFront(); }
  }
}

function outZip(e) {
  info_control.update();

  var zip = e.target;
  if(!g_selected_zips.has(zip)) {
    reset_zip_style(zip.feature.id);
  }
}

function clickZip(e) {
  zip = e.target;
  if(g_selected_zips.has(zip)) {
    reset_zip_style(zip.feature.id);
    g_selected_zips.delete(zip);
  }else{
    g_selected_zips.add(zip);
    zip.setStyle({
        weight: 3,
        color: '#3388ff',
    });
  }
  if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
    g_selected_zips.forEach(function(zip) {
      zip.bringToFront();
    });
    for(var id in choropleth_circles) { choropleth_circles[id].bringToFront(); }
  }

  L.DomEvent.stopPropagation(e);
  var zipcodes = Array.from(g_selected_zips).map(d => d.feature.id);
  if(zipcodes.length == 0) {
    zipcodes = [''];
    $('.zip-title').text('county');
  }else{
    $('.zip-title').text(zipcodes.join(', '));
  }
  update_viz(zipcodes);
}

function onZipEvent(feature, layer) {
  layer._leaflet_id = feature.id; 
  layer.on({
      mouseover: onZip,
      mouseout: outZip,
      click: clickZip,
  });
}

layer_zips.options.onEachFeature = onZipEvent;

function clickMap(e) {
}
g_map.on('click', clickMap);

//$('input[type="checkbox"]').checkboxradio();
var choropleth_attrs = {
  background: ['median_sqft_price'],
  circle_size: '',
  circle_color: '',
};

function update_choropleth_legend() {
  var content = '';
  var step_count = 4;

  if(choropleth_attrs.background.length <= 1 && colormap_background) {
    min = g_cm_range[0]
    max = g_cm_range[1]
    if(max - min <= step_count){ step_count = max - min; }
    step = (max - min) / step_count;

    content += "<table style='margin: 10px'>";
    content += "<tr><th colspan=2>" + choropleth_attrs.background[0] + "</th></tr>";
    for(var i=0;i<=step_count;i++) {
      content += '<tr>';
      var value = Math.floor(min + step*i);
      var color = colormap_background(value);
      content += '<td><i style="background:' + color + '"></i></td>' ;
      content += '<td>' + value + '</td>';
      content += '<tr>';
    }
    content += "</table>";
  } else if(choropleth_attrs.background.length > 1 || colormap_background == undefined) {
    var tiers = ['low', 'med', 'high'];
    var content = "<table style='margin: 10px'>";
    content += "<tr><th></th><th></th><th colspan=3>";
    content += choropleth_attrs.background[0] + "</th></tr>";
    content += "<tr><td></td><td></td><td>low</td><td>med</td><td>high</td></tr>";
    for (var i = 0; i < colormap_bivariate_3x3.length; i++) {
      content += '<tr>';
      if(i==0) {
        content += '<td rowspan=3 style="padding-top: 40px;max-width: 50px;">';
        content += '<div style="transform: rotate(-90deg);font-weight: bold;margin:-20px">' + choropleth_attrs.background[1] + '</div></td>';
      }
      content += '<td>' + tiers[i] + '</td>';
      for (var j = 0; j < colormap_bivariate_3x3.length; j++) {
        content += '<td><i style="background:' + colormap_bivariate_3x3[i][j] + '"></i></td> ';
      }
      content += '</tr>';
    }
    content += '</table>';
  }

  if(choropleth_attrs.circle_color && colormap_circle) {
    min = g_cm_circle_range[0];
    max = g_cm_circle_range[1];
    step = (max - min) / 4;
    content += "<table style='margin: 10px'>";
    content += "<tr><th colspan=2>" + choropleth_attrs.circle_color + "</th></tr>";
    for(var i=0;i<5;i++) {
      content += '<tr>';
      var value = Math.floor(min + step*i);
      var color = colormap_circle(value);
      content += '<td><i style="background:' + color + '"></i></td>' ;
      content += '<td>' + value + '</td>';
      content += '<tr>';
    }
    content += "</table>";
  } 
  $('.info.legend').html(content);
}

function onChoroplethChange() {
  //year = parseInt($('#year').text(year));
  var year = slider_year.slider('value');

  choropleth_attrs = {background:[], circle_size:'', circle_color:''};
  if(select_choropleth[0].val()) {
    choropleth_attrs.background.push(select_choropleth[0].val());
  }
  if(select_choropleth[1].val()) {
    choropleth_attrs.background.push(select_choropleth[1].val());
  }
  choropleth_attrs.circle_size = select_choropleth[2].val();
  choropleth_attrs.circle_color = select_choropleth[3].val();

  update_choropleth(year);
}

var select_choropleth = [];
for(var i=0;i<4;i++) {
  var select_id = '#choropleth_attribute' + i.toString();
  select_choropleth[i] = $(select_id).selectmenu({
    change: function( event, data ) {
      onChoroplethChange();
    }
  });
}
var slider_year = $("#slider-year").slider({
  value:2017,
  min: 1983,
  max: 2017,
  step: 1,
  slide: function( event, ui ) {
    year = ui.value;
    $('#year').text(year);
    update_choropleth(year);
  }
});

$(function(){
  init_charts();
  var zipcode = '<%=@zip%>';
  update_viz([zipcode]);
  query_zip_cluster();
});

function set_zip_background(zip, color) {
  var id = (typeof(zip) == 'string')? parseInt(zip) : zip;
  var layer = layer_zips.getLayer(id)
  if(layer == null) { return; }
  if(color == null) {
    layer_zips.resetStyle(layer);
    return;
  }
  style = Object.assign({}, CHOROPLETH_STYLE, {fillColor: color});
  if(color == undefined) {
    layer.setStyle(DEFAULT_ZIP_STYLE);
  }else{
    layer.setStyle(style);
  }
}

var has_zips = new Set([]);

function reset_zip_style(zip) {
  var layer = layer_zips.getLayer(zip)
  if(layer == undefined) { return; }
  if(has_zips.has(zip)) {
    layer.setStyle(CHOROPLETH_STYLE);
  }else{
    layer.setStyle(DEFAULT_ZIP_STYLE);
  }

  if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
    g_selected_zips.forEach(function(zip) {
      zip.bringToFront();
    });

		//choropleth_circles[layer.feature.id].bringToFront();
		for(var id in choropleth_circles) { choropleth_circles[id].bringToFront(); }
  }
}


function set_zip_background_at(year, attributes) {
  has_zips = new Set([]);
  if(attributes == undefined) { return; }
  if(attributes.length == 1) {
    var attribute = attributes[0];
    var year_stats = get_year_stats(year, attribute);
    min = d3.min(year_stats, function(d){ return parseFloat(d[attribute]); }); 
    max = d3.max(year_stats, function(d){ return parseFloat(d[attribute]); }); 
    g_cm_range = [min, max];
    if(cluster_features.includes(attribute)) {
      colormap_background = d3.scale.category10();
    }else{
      colormap_background = d3.scale.linear().domain(g_cm_range).range(["yellow", "red"]);
    }

    year_stats.forEach(function(zip_stat) {
      color = (zip_stat[attribute] == undefined) ? undefined : colormap_background(zip_stat[attribute]);
      set_zip_background(zip_stat.zip, color);
      has_zips.add(parseInt(zip_stat.zip));
    });
  }else if(attributes.length == 2) {
    var year_stats1 = get_year_stats(year, attributes[0]);
    var year_stats2 = get_year_stats(year, attributes[1]);
    attr1_values = year_stats1.map(d => parseFloat(d[attributes[0]]) ); 
    attr2_values = year_stats2.map(d => parseFloat(d[attributes[1]]) ); 
    attr1_cm = d3.scale.quantile().domain(attr1_values).range([0, 1, 2]);
    attr2_cm = d3.scale.quantile().domain(attr2_values).range([0, 1, 2]);
    year_stats1 = d3.map(year_stats1, function(d) { return d.zip});
    year_stats2 = d3.map(year_stats2, function(d) { return d.zip});

    zips1 = year_stats1.keys().map(d => parseInt(d));
    zips2 = year_stats2.keys().map(d => parseInt(d));
    has_zips = new Set(zips1.concat(zips2));
    Array.from(has_zips).forEach(function(zip) {
      zip_stat1 = year_stats1.get(zip);
      zip_stat2 = year_stats2.get(zip);
      attr1 = (zip_stat1 == undefined) ? 0 : zip_stat1[attributes[0]];
      attr2 = (zip_stat2 == undefined) ? 0 : zip_stat2[attributes[1]];
      let color1 = attr1_cm(attr1);
      let color2 = attr2_cm(attr2);
      let color = colormap_bivariate_3x3[color2][color1];
      set_zip_background(zip, color);
    });
  }

  layer_zips.getLayers().forEach(function(layer) {
    var zip = layer.feature.id;
    if(!has_zips.has(zip)){
      set_zip_background(zip, undefined);
    }
  });
}

function set_zip_circle(zip, style=undefined) {
  var id = (typeof(zip) == 'string')? parseInt(zip) : zip;
  var layer = choropleth_circles[id]
  if(layer == undefined) { return; }
  if(style == undefined) {
    layer.setStyle(CHOROPLETH_CIRCLE_STYLE);
    return;
  }
  style = Object.assign({}, CHOROPLETH_CIRCLE_STYLE, {radius: style.size, fillColor: style.color, fillOpacity: 0.4, opacity: 1});
  layer.setStyle(style);
}

function set_zip_circle_at(year, attr_size='', attr_color='') {
	var sizemap_range = [2, 20]
  var zip_encode = {};
  if(attr_size != '') {
    var year_stats = get_year_stats(year, attr_size);
    min = d3.min(year_stats, function(d){ return parseFloat(d[attr_size]); }); 
    max = d3.max(year_stats, function(d){ return parseFloat(d[attr_size]); }); 
    sizemap = d3.scale.linear().domain([min,max]).range(sizemap_range);

    year_stats.forEach(function(zip_stat) {
      size = (zip_stat[attr_size] == undefined) ? 0 : sizemap(zip_stat[attr_size]);
      zip_encode[parseInt(zip_stat.zip)] = {size: size, color: CHOROPLETH_CIRCLE_STYLE.fillColor };
    });
  }
  if(attr_color != '') {
    var year_stats = get_year_stats(year, attr_color);
    min = d3.min(year_stats, function(d){ return parseFloat(d[attr_color]); }); 
    max = d3.max(year_stats, function(d){ return parseFloat(d[attr_color]); }); 
		g_cm_circle_range = [min, max]
    colormap_circle = d3.scale.linear().domain([min, max]).range(["yellow", "red"]);

    year_stats.forEach(function(zip_stat) {
      color = (zip_stat[attr_color] == undefined) ? undefined : colormap_circle(zip_stat[attr_color]);
      let zipcode = parseInt(zip_stat.zip);
      if(zipcode in zip_encode) {
        zip_encode[zipcode].color = color;
      }else{
				let size = (attr_size == '') ? 8 : 0;
        zip_encode[zipcode] = {size: size, color: color};
      }
    });
  }
  for(var zip in zip_encode) {
    set_zip_circle(zip, zip_encode[zip]);
  }

  layer_zips.getLayers().forEach(function(layer) {
    var zip = layer.feature.id;
    if(!(zip in zip_encode)){
      set_zip_circle(zip, undefined);
    }
  });
}


</script>
<% end %>
